<div class="post-box">
    <div class="post-box-row">
        <div class="post-box-content">
            <div class="circle-container" style="height: 50px; width: 50px;">
                <img class="user-pfp" src="/uploads/pfpImages/<%= post.author.pfp %>">
            </div>
            <div class="post-box-content-right">
                <div class="post-box-content username"><%=post.author.username%></div>
                <div class="post-info">
                    <%= post.createdAt.toLocaleDateString("en-US", { 
                        month: 'long', 
                        day: 'numeric', 
                        year: 'numeric' 
                    }) %>
                -
                <%=post.game%>
            </div>
        </div>
    </div>
</div>

<a class="post-title" href="/posts/<%=post.id%>"><%=post.title%></a>
<div class="post-box-content"><%=post.postDescription%></div>

<div class="post-box-image">
    <img src="<%= post.postImagePath %>">
</div>
</div>