<body>
    <div class="page">
        <%- include('profileInfo') %>
    </div>
<h3>Timeline</h3>
<% timeline.forEach(entry => { %>
    <% console.log('entry') %>
    <% console.log(entry) %>
    <div>
        <% if (entry.title) { %>
            <!-- It's a post -->
            <%- include('../partials/postBox.ejs', {post: entry})%>
            <!-- <p>Post Title: <%= entry.title %></p>
            <p>Post Description: <%= entry.postDescription %></p> -->
        <% } else { %>
            <!-- It's a comment -->
            <%- include('../partials/commentBox.ejs', {comment: entry}) %>
            <!-- <p>Comment Description: <%= entry.commentDescription %></p> -->
        <% } %>
        <!-- Display other entry information -->
    </div>
<% }) %>
</body>