<body>
    <div class="page">
        <div class="left">
            <img height="150" width = "100" src='/uploads/pfpImages/<%=user.pfp%>'>
            <%=user.username%>
            <%=user.bio%>
            <!-- add following people -->
        </div>
        <div class="right">
            <a href="/profiles/<%=user.id%>" value="overview">Overview</a>
            <a href="/profiles/<%=user.id%>/posts" value="posts">Posts</a>
            <a href="/profiles/<%=user.id%>/comments" value="comments">Comments</a>
            
        </div>
    </div>
    <% if(isLoggedIn) {%>
        <% if(user.id === loggedUser._id) {%>
            <a href="/profiles/<%=user.id%>/edit">Edit</a>
        <% } %>
    <% } %>
</body>
<h3>Timeline</h3>
<% timeline.forEach(entry => { %>
    <div>
        <% if (entry.title) { %>
            <!-- It's a post -->
            <p>Post Title: <%= entry.title %></p>
            <p>Post Description: <%= entry.postDescription %></p>
        <% } else { %>
            <!-- It's a comment -->
            <p>Comment Description: <%= entry.commentDescription %></p>
        <% } %>
        <p>Created At: <%= entry.createdAt %></p>
        <!-- Display other entry information -->
    </div>
<% }) %>