<div class="games">
<h2>All Games</h2>
  <% Object.entries(gamesByGenre).forEach(([genre, games]) => { %>
    <h3><%= genre %></h3>
    
    <div class="game-images">
      <% games.forEach(gameItem => { %>
        <div class="game-items">
          <h4><a href="games/<%=gameItem.title%>"><%= gameItem.title %></a></h4>
          <a href="games/<%=gameItem.title%>"><img src="<%= gameItem.imagePath %>" 
            alt="<%= gameItem.title %> Image" width="200" height="200"></a>
          </div>
      <% }) %>
    </div>
  <% }) %>
</div>