<div class="posts">
    <%- include ('../partials/postBox.ejs') %>

<div>
        <form action="/posts/<%=post.id%>/upvotePost" method="POST">
            <button class="upvote-button" type="submit">Upvote: <%= post.upvote %></button>
        </form>
        <form action="/posts/<%=post.id%>/downvotePost" method="POST">
            <button class="upvote-button" type="submit">Downvote: <%= post.downvote %></button>
        </form>
    </div>


    <form action="./createComments" method="POST">
        <textarea id="post-comment-box" name="comment">Comment</textarea>
        <div id="post-comment-button"><button id="post-comment-box-button" type="submit">Create</button></div>
    </form>
    
    <div class="post-comments">
        <% if (post.comments && post.comments.length > 0) { %>
            <% post.comments.forEach(comment => { %>
                <%- include('../partials/commentBox.ejs', {comment: comment}) %>
                <% }) %>
        <% } else { %>
            <p>No comments available.</p>
        <% } %>
    </div>
</div>
